<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="nativemind_Bridge">
            <group id="flutterweb" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Flutter Web</label>
                <comment><![CDATA[Configure Flutter Web progressive enhancement overlay]]></comment>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Flutter Web</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Load Flutter Web as an overlay (graceful degradation to Magento if Flutter fails)</comment>
                </field>
                <field id="base_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Flutter Web Base URL</label>
                    <comment>URL where Flutter Web assets are hosted (e.g., /flutter/ or https://cdn.example.com/flutter/)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="loader_timeout" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loader Timeout (ms)</label>
                    <comment>Maximum time to wait for Flutter to load before showing Magento content</comment>
                    <validate>validate-digits</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="service_worker_enabled" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Service Worker</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Register Flutter's service worker for offline support</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
