<?xml version="1.0"?>
<!--
/**
 * NativeMind BridgeCore Default Configuration
 *
 * @category    NativeMind
 * @package     NativeMind_BridgeCore
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nativemind_Bridge>
            <general>
                <enabled>1</enabled>
                <debug_mode>0</debug_mode>
            </general>
        </nativemind_Bridge>
    </default>
</config>
