<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nativemind_flutterbridge>
            <flutterweb>
                <enabled>0</enabled>
                <base_url></base_url>
                <loader_timeout>5000</loader_timeout>
                <service_worker_enabled>0</service_worker_enabled>
            </flutterweb>
        </nativemind_flutterbridge>
    </default>
</config>
