<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nativemind_Bridge>
            <applinks>
                <enabled>0</enabled>
                <android_package_name></android_package_name>
                <android_sha256_fingerprints></android_sha256_fingerprints>
                <ios_app_id></ios_app_id>
            </applinks>
        </nativemind_Bridge>
    </default>
</config>
