<?xml version="1.0"?>
<!--
/**
 * NativeMind Bridge Frontend Routes
 *
 * @category    NativeMind
 * @package     NativeMind_Bridge
 * @author      NativeMind <contact@nativemind.net>
 * @copyright   Copyright (c) 2024 NativeMind (https://nativemind.net)
 * @license     https://opensource.org/licenses/MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="Bridge" frontName="Bridge">
            <module name="NativeMind_Bridge"/>
        </route>
        <!-- .well-known routes handled by custom router in Controller/Router.php -->
    </router>
</config>
