<?xml version="1.0"?>
<!--
/**
 * NativeMind FlutterBridge Default Configuration
 *
 * @category    NativeMind
 * @package     NativeMind_FlutterBridge
 * @author      NativeMind <contact@nativemind.net>
 * @copyright   Copyright (c) 2024 NativeMind (https://nativemind.net)
 * @license     https://opensource.org/licenses/MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nativemind_flutterbridge>
            <general>
                <enabled>1</enabled>
                <debug_mode>0</debug_mode>
            </general>
            <route>
                <enabled>1</enabled>
                <standard_version>flutter_magento_v1</standard_version>
                <product_app_route>/product/{sku}</product_app_route>
                <category_app_route>/category/{id}</category_app_route>
                <cms_app_route>/page/{identifier}</cms_app_route>
                <search_app_route>/search?q={query}</search_app_route>
                <cart_app_route>/cart</cart_app_route>
                <checkout_app_route>/checkout</checkout_app_route>
                <customer_app_route>/account</customer_app_route>
                <home_app_route>/</home_app_route>
            </route>
            <canonical>
                <enabled>1</enabled>
                <product_mode>shortest</product_mode>
                <category_filtered_mode>base_noindex</category_filtered_mode>
                <strip_utm>1</strip_utm>
                <strip_tracking>1</strip_tracking>
            </canonical>
            <robots>
                <search_robots>noindex,follow</search_robots>
                <filtered_category_robots>noindex,follow</filtered_category_robots>
                <cart_robots>noindex,nofollow</cart_robots>
                <checkout_robots>noindex,nofollow</checkout_robots>
                <customer_robots>noindex,nofollow</customer_robots>
            </robots>
            <jsonld>
                <enabled>1</enabled>
                <mode>append</mode>
                <product_enabled>1</product_enabled>
                <breadcrumb_enabled>1</breadcrumb_enabled>
                <organization_enabled>1</organization_enabled>
                <category_itemlist_enabled>0</category_itemlist_enabled>
            </jsonld>
            <opengraph>
                <enabled>1</enabled>
                <mode>append</mode>
                <twitter_card_type>summary_large_image</twitter_card_type>
            </opengraph>
            <app_links>
                <android_enabled>0</android_enabled>
                <android_package_name></android_package_name>
                <android_sha256_fingerprints></android_sha256_fingerprints>
                <android_playstore_url></android_playstore_url>
                <ios_enabled>0</ios_enabled>
                <ios_team_id></ios_team_id>
                <ios_bundle_id></ios_bundle_id>
                <ios_appstore_url></ios_appstore_url>
            </app_links>
            <app_banner>
                <enabled>0</enabled>
                <title>Open in App</title>
                <subtitle>Better shopping experience</subtitle>
                <open_button_text>Open</open_button_text>
                <install_button_text>Install</install_button_text>
                <show_on_product>1</show_on_product>
                <show_on_category>1</show_on_category>
                <show_on_home>1</show_on_home>
                <dismiss_cookie_days>7</dismiss_cookie_days>
            </app_banner>
        </nativemind_flutterbridge>
    </default>
</config>
