<?xml version="1.0"?>
<!--
/**
 * NativeMind BridgeRoutes Admin System Configuration
 *
 * @category    NativeMind
 * @package     NativeMind_BridgeRoutes
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="nativemind_Bridge">
            <group id="route" translate="label" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Route Metadata</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Route Metadata</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Output flutter_magento_v1 route JSON on pages</comment>
                </field>
                <field id="standard_version" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Standard Version</label>
                    <comment>Route metadata standard identifier</comment>
                </field>
                <field id="product_app_route" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product App Route</label>
                    <comment>Placeholders: {id}, {sku}, {urlKey}</comment>
                </field>
                <field id="category_app_route" translate="label comment" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category App Route</label>
                    <comment>Placeholders: {id}, {urlKey}, {urlPath}</comment>
                </field>
                <field id="cms_app_route" translate="label comment" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CMS Page App Route</label>
                    <comment>Placeholders: {id}, {identifier}</comment>
                </field>
                <field id="search_app_route" translate="label comment" type="text" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search App Route</label>
                    <comment>Placeholders: {query}</comment>
                </field>
                <field id="cart_app_route" translate="label" type="text" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cart App Route</label>
                </field>
                <field id="checkout_app_route" translate="label" type="text" sortOrder="80"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout App Route</label>
                </field>
                <field id="customer_app_route" translate="label" type="text" sortOrder="90"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Account App Route</label>
                </field>
                <field id="home_app_route" translate="label" type="text" sortOrder="100"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Home App Route</label>
                </field>
            </group>
        </section>
    </system>
</config>
