<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="nativemind_Bridge">
            <group id="appbanner" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>App Banner</label>
                <comment><![CDATA[Configure the "Open in App" smart banner]]></comment>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable App Banner</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show "Open in App" banner on mobile devices</comment>
                </field>
                <field id="app_name" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Name</label>
                    <comment>Name displayed on the banner</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="app_icon" translate="label comment" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">nativemind/appbanner</upload_dir>
                    <base_url type="media" scope_info="1">nativemind/appbanner</base_url>
                    <comment>Recommended: 72x72px PNG</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="android_store_url" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Play Store URL</label>
                    <comment>Full URL to Google Play Store listing</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="ios_store_url" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Store URL</label>
                    <comment>Full URL to Apple App Store listing</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="cta_text" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CTA Button Text</label>
                    <comment>Text for the call-to-action button</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="position" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner Position</label>
                    <source_model>NativeMind\BridgeAppBanner\Model\Config\Source\Position</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="dismiss_duration" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dismiss Duration (days)</label>
                    <comment>How long to hide banner after user dismisses it</comment>
                    <validate>validate-digits</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
